
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id=”ana_div”>
<div class=”div” id=”div”>HDuman.Com – 1.Div</div>
<div class=”div” id=”div2″>HDuman.Com – 2.Div</div>
<div class=”div” id=”div3″>HDuman.Com – 3.Div</div>
</div>

.ana_div {
height: 300px;
width: 970px;
margin-right: auto;
margin-left: auto;
background-color: #666666;
}

.div {
float: left;
height: 200px;
width: 303px;
margin: 10px;
color: #FFFFFF;
}
