@using CoreDepartment.Models
@model List<departments>
@{
     ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.Id</td>
        <td>@x.departmanAd</td>
        <td><a href="/departmanlar/DepartmanSil/@x.Id" class="btn btn-danger">Sil</a></td>
        <td><a href="/departmanlar/DepartmanGetir/@x.Id" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-default" style="background-color:#dee61d">Detaylar</a></td>
    </tr>
    }
</table>
<a href="/departmanlar/YeniDepartman/" class="btn btn-primary">Yeni Departman</a>